extends layout

block content
  h1= title
  - const items = results;
  .container-fluid
    .row
      each equipment in items
        div(class="col-sm-2" )
          h3 #{equipment.equipment_type}
          p Model: #{equipment.condition}
          p Price: $#{equipment.quantity}
  
  script.
    function buy(index) {
        alert(You purchased : ${index})
    }
